<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <script src="https://kit.fontawesome.com/98036969f5.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
<%= link_to lists_path, class: "navbar-brand" do %>
  <i class="fas fa-film"></i> Movie Theater
<% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-end">
        </li>
        <li class="nav-item">
          <%= link_to "New List", new_list_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>



  <body>
    <%= yield %>
  </body>
</html>
